html
    head
            title 새 글 작성
    body
        h1 새 글 작성하기
        form(method="POST" action="/new")
            label 제목:
            input(type="text" name="title")
            br
            label 내용:
            textarea(name="content")
            br
            button(type="submit") 작성하기