extends ./main
block content
  .video-container
      if items.length > 0
        each video in items
          // ✅ 클릭하면 /watch 페이지로 이동
          a(href=`/watch?id=${video.id}`)
            .video-card
              img.thumbnail(src=video.image, alt=video.name)
              .video-info
                h3.video-title= video.name
      else
        p 데이터가 없습니다.